<div class="navbar navbar-default" role="navigation"> 
    <div class="container"> 
        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button> 
            <a class="navbar-brand" href="#/"> 
                <img style="width:60px" src="/images/matt-icons_package-300px.dd02fc38.png" alt="OrderNext Home">OrderNext 
            </a> 
        </div> 
        <div class="collapse navbar-collapse" id="app-navbar-collapse"> 
            <ul class="nav navbar-nav navbar-right navbar-default menu"> 
                <li class=""><a href="">Login</a></li>
                <li > <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown"></a> 
                    <ul class="dropdown-menu" role="menu"> 
                        <li><a routerLink="/login">Logout</a></li> 
                    </ul> 
                </li> 
            </ul> 
        </div> 
    </div> 
</div>